/* body{
	font-family: "Montserrat","Avenir";

  background: radial-gradient(190px circle at 100px 100px,
  #272727 50%,
  transparent 51%),
radial-gradient(220px square at 3000px 4000px,
  #383838 50%,
  transparent 51%),
radial-gradient(250px circle at 400px 3000px,
  #272727 50%,
  transparent 51%),
radial-gradient(125px circle at 500px 250px,
  #383838 50%,
  transparent 51%),
radial-gradient(200px circle at 250px 200px,
  #272727 50%,
  transparent 50.4%),
radial-gradient(100px circle at 50px 420px,
  #383838 50%,
  transparent 51%);

background-color: #2c2c2c;

}

#mainNavbar{
	font-size: 32px;
	position: fixed;
}

.carousel-item{
	width: 1550px;
	height: 900px;
}

.nav-link{
	color: whitesmoke;
	margin-right: 20px;
	padding-bottom: 0;
	padding-top: 0;
}

.glow {
	font-size: 130px;
  color: white;
  text-align: right;
  font-size: 80px;
  text-shadow: 4px 4px 6px #000000;
}

#mainNavbar .nav-link:hover{
  color: whitesmoke;
  text-decoration: dashed;
}

.nav-item.scrolled{
	text-decoration-color: black;
}

.navbar.scrolled{
    background-color: #cf52f2ce;
    transition: background 500ms;
}
@media (max-width: 1200px){
    #headingGrp h1{
        font-weight: 100;
        font-size: 3rem;
    }
}

.img-fluid{
	border-radius: 50%;
}

.display-4 b, h1, .lead{
  color: white;
}


.well{
	padding-top: 35px;
  padding-bottom: 5px;
}

#video{
	margin: 10px 10px 0 0;
}

.btnbtn{
	text-align: center;
	color: black;
} 

.more_work{
	border-color: black;
	color: white;
	margin-top: 20px;
	background-color: transparent;
}

.more_work:hover{
	background: #000000; 
	background: -webkit-linear-gradient(to right, #2c2c2c, #cf52f2ad);  
	background: linear-gradient(to right, #2c2c2c, #cf52f2ad);
}

.text{
	color: black;
	text-align: center;
	margin-top: 100px;
	font-size: 35px;
	text-shadow: 2px 2px 4px #000000;
}

hr{
    overflow: visible; 
    height: 30px;
    border-style: solid;
    border-color: #cf52f2ad;
    border-width: 1px 0 0 0;
    border-radius: 20px; 
    margin-top: 60px;
    margin-bottom: -50px;
}
hr:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #076585;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

#contact{
	font-size: 20px;
	color: black;
}

.jumbotron{
	border-radius: 80px;
	background-image: url(https://www.nicepng.com/png/detail/958-9583176_listen-to-our-nonpro-background-music-transparent-background.png);

}

::selection {
  color: white;
  background: #076585;
}


.shape{
  text-align:center;
  background-color:#2c2c2c;
  width:500px;
  height:50px;
  line-height:50px;
  margin:20px auto;
  margin-right: 50px;
  position:relative;
  background: #2c2c2c;  
	background: -webkit-linear-gradient(to right,#2c2c2c, #cf52f2ad);  
  background: linear-gradient(to right, #2c2c2c, #cf52f2ad); 
  
}
.shape:before{
  content:"";
  width:0px;
  height:0px;
  border-top:50px solid #2c2c2c;
  border-left:50px solid transparent;
  position:absolute;
  right:100%;
  top:0px;
} */


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

*,html,body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  height: 3000px;
}

.margin1{
  margin-left: 10%;
  margin-right: 0%;
}

.margin2{
  margin-left: 8%;
  margin-right: 8%;
}

header{
  /* background-color: #9024adad; */
  height: 90px;
  line-height: 90px;
  position: fixed;
  z-index: 1;
  width: 100%;
}
#mainNavbar.scrolled{
  background-color: #000000ad;
  transition: all 1s ease-in-out;
}


ul{
  list-style: none;
}

ul li{
  display: inline-block;
}

header nav ul li a{
  padding-right: 30px;
  font-size: 20px;
  color: white;
  transition: all 0.4s ease-in;
}

header nav ul li a:hover{
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: all 0.2s ease-in;
}

.header1 {
  position: relative;
  height: 750px;
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1502665607786-eaa3cd100809?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(#535353, #9839d8); */
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}


.intro-area, .work-area{
  position: relative;
  padding: 100px 0;
  text-align: center;
}

.sub-heading{
  position: relative;
  margin-bottom: 75px;
}

.sub-heading::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -3%;
  width: 6%;
  height: 1px;
  background-color: #000;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sub-heading:hover::before{
  width: 24%;
  margin-left: -12%;

}

.sub-heading::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12%;
  width: 24%;
  height: 1px;
  background-color: #e1e1e1;
}

.sub-heading p{
  color: #818181;
  display: inline-block;
  padding: 0 0 20px 20px;
  position: relative;
  line-height: 24px;
  letter-spacing: 0.025em;
}

.utube{
  text-decoration: none;
  font-weight: bold;
  color: #818181;
}

.utube:hover{
  text-decoration: none;
  color: #818181;
}

.utube-video{
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
}